<html ng-app="MyApp" >
	<head>
		<title>Directive Demo</title>
		<script src="angular.js"></script>
		<script src="AgnmtController.js"></script>
		<link href="bootstrap.css" rel="stylesheet"/>
		<link href="bootstrap-theme.css" rel="stylesheet"/>
		
		
	</head>
	<body>
<div class="container" ng-controller="MyCtrl">

  
  <form class="form-horizontal" style="margin-top:20px;" >
		<div class="form-group">
		  <label class="control-label col-sm-2" for="id">Enter ID:</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" ng-model="obj.id" style="width:350px;" required>
		  </div>
		</div>
		<div class="form-group">
		  <label class="control-label col-sm-2" for="name">Enter Name:</label>
		  <div class="col-sm-10">          
			<input type="text" class="form-control" ng-model="obj.name" style="width:350px;" required>
		  </div>
		</div>
		
		<div class="form-group">
		  <label class="control-label col-sm-2" for="description">Enter Description:</label>
		  <div class="col-sm-10">          
			<input type="text" class="form-control" ng-model="obj.description" style="width:350px;" required>
		  </div>
		</div>
		
		<div class="form-group">
		  <label class="control-label col-sm-2" for="category">Enter Category:</label>
		  <div class="col-sm-10">          
			<input type="text" class="form-control" ng-model="obj.category" style="width:350px;" required>
		  </div>
		</div>
		
		<div class="form-group">
		  <label class="control-label col-sm-2" <label for="price">Enter price:</label>
		  <div class="col-sm-10">          
			<input type="text" class="form-control" ng-model="obj.price" style="width:350px;" required>
			
		  </div>
		</div>
		
		  <div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary" ng-click="addrow()">Add</button required>
		  </div>
	</form>
	
	<div class="container" style="margin-top:70px;">    
		<table class="table table-bordered">
			
			  <tr >
				<th>id</th>
				<th>name</th>
				<th>description</th>
				<th>category</th>
				<th>price</th>
			  </tr>
				<tr ng-repeat="x in product">
					<td>{{x.id}}</td>
					<td>{{x.name}}</td>
					<td>{{x.description}}</td>
					<td>{{x.category}}</td>
					<td>{{x.price}}</td>
				</tr>
		
		</table>
	</div>
	</table>
</div>
		
</body>
</html>